# Ignore Visual Studio 6 specific files
*.plg
*.ncb
*.opt
*.aps

# Ignore build outputs and intermediate files
Debug/
Release/
draw_border-cppcheck-build-dir/
*.obj
*.exe
*.dll
*.lib
*.pdb
*.ilk
*.res

# Ignore user-specific files
*.suo
*.user
*.sleepy
*.cppcheck
REFERENCE.bmp

# Ignore Makefile outputs
*.o
*.a

# Ignore other files that should not be committed
.DS_Store
Thumbs.db
